@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
  --color-primary : #171aa7;
  --color-primary-dark : #092553;
  --color-secondary : #c0beff;
}



.default-width {
  @apply max-w-350 mx-auto px-6 md:px-12 lg:px-16;
}

.section-y-padding {
	@apply py-16 my-16;
}

body {
    font-family: "Lato", sans-serif;
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
}

.swiper-slide img {
  display: block;
  width: 100%;
}







